#contato {
  padding: 8rem 7.5rem 12.5rem 7.5rem;
  background-image: url(../assets/Background_Contacts.png);
  background-size: 100%;
  display: grid; 
  gap: .5rem;
  text-align: center;
}

#gostou {
  display: inline-block;
}

#gostou div:nth-child(1) {
  font: var(--subtitle);
  color: var(--purple);
}

#gostou div:nth-child(2) {
  font: var(--title-md);
}

#gostou div:nth-child(3) {
  font: var(--text-md-2)
}

.tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.arrow {
  margin-left: auto;
}

.tags a{
  display: flex;
  align-items: center;
  font: var(--text-md-2);
  background-color: var(--gray-300);
  padding: 1.43rem 1.5rem 1.43rem 1.37rem;
  border-radius: 6px;
  border: solid var(--gray-300);
  gap: 0.75rem;
  margin-bottom: 1rem;
  width: 25rem;
  height: 4.25rem;
  
  &:hover, &:has(tags:focus) {
    border-color: var(--blue);
  }
}


.tags a:nth-child(1) {
  margin-top: 3rem;
}


