h1 {
  font: var(--title-lg);
  margin-top: 8px;
}

img {
 position: relative;
 align-self: center;
}

.subtitle {
  font: var(--subtitle);
  color: var(--gray-500); 
  margin-top: 56px;
}

.container {
  background-image: url(../assets/Background_Intro.png);
  background-size: cover; 
  padding: 120px 163px 183px 163px;
  justify-items: center;
  p {
    color: var(--gray-400);
    font: var(--text-sm-2);
    margin-top: 20px;
  }
}

.destaque {
  color: var(--red);
}

nav {
  display: flex; 
  flex-direction: row;
  margin-top: 80px;
  figure {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}


.content-tag {
  font: var(--text-md-2);
  background-color: var(--gray-300);
  padding: 8px 16px;
  border-radius: 25px;
  margin-inline: 8px;
  border: solid var(--gray-300);
}

#arrow {
  margin-top: 94px;
  margin-bottom: 57px;
}



 