#trabalhos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  size: 330px 156px;
  gap: 24px;
  margin-bottom: 128px;
}

#trabalhos img {
  width: 306px;
  height: 156px;
}

#trabalhos {
  figcaption {
    margin-top: 20px;
    p{
      color: var(--gray-400);
      font: var(--text-sm-2);
      margin-top: 8px;
    }
  }
  margin-bottom: 88px;
}

section {
  display: grid; 
  gap: 8px;
  justify-items: center;
  align-items: center;
}

#services {
  background-color: #0D0E11;
  padding: 88px 120px 120px 120px;
}

#ajudar :nth-child(1) {
  font: var(--subtitle);
  color: var(--red);
}
#ajudar :nth-child(2) {
  font: var(--title-md);
}

#card {
  gap: 24px;
  margin-top: 56px;
  padding: 20px;
  img {
    height: 48px;
    width: 48px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.primary {
  font: var(--title-sm);
}

.secondary {
  font: var(--text-sm-2);
}

.block {
  display: inline-block;
  background-color: var( --gray-300);
  border-radius: 12px;
  padding: 12px;
  size: 275px 330px
}



