#ajudar {
  align-items: center;
}



#ajudar :nth-child(1) {
  font: var(--subtitle);
  color: var(--red);
}
#ajudar :nth-child(2) {
  font: var(--title-md);
}

#trabalhos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  size: 20.62rem 19.75rem;
  gap: 1.5rem;
  margin-top: 3.5rem;
  margin-bottom: 9rem;
}

#trabalhos img {
  width: 19.12rem;
  height: 9.75rem;
}

.square {
  figcaption {
    margin-top: 1.25rem;
    p{
      color: var(--gray-400);
      font: var(--text-sm-2);
      margin-top: .5rem;
    }
  }
  
 .block {
    &:hover {
      border: 1px solid var(--gray-400);
      border-radius: .5rem;
    }
  }
}

section {
  display: grid; 
  gap: .5rem;
  justify-items: center;
  align-items: center;
}

#services {
  background-color: #0D0E11;
  padding: 5.5rem 7.5rem 7.5rem 5.5rem;
}



#card {
  gap: 1.5rem;
  margin-top: 3.5rem;
  padding: 1.25rem;
  img {
    height: 3rem;
    width: 3rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.primary {
  font: var(--title-sm);
}

.secondary {
  font: var(--text-sm-2);
}

.block {
  display: inline-block;
  background-color: var( --gray-300);
  border-radius: 12px;
  padding: 0.75rem;
  size: 17.18rem 20.62rem;
}



